body{
    margin:0px;
    font-family: 'Minecraft', sans-serif;
}

#main-Container{

    min-height:100vh;
    border:10px solid red;
    padding:10px;
    box-sizing: border-box; /* Includes padding and border in element dimensions rather than adding extra */
    display:flex;
    flex-direction:column;
}
#heading-Container{
    flex:none; /* this line and the 'min-height' make sure the container Doesn't grow or shrink the size based on content */
    min-height:80px;
    border:5px solid green;
}

#card-Container{
    flex:1;
    border:5px solid blue;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:10px;
    gap:10px; /*alternative to margin for flexbox based layout adds 10px gap b/w cards using instead of margin */

}

.individualCard{
    height:350px;
    flex: 0 0 300px; /* Don't grow, don't shrink, 300px base */
    min-width: 250px;
    max-width: 350px;
    border: 2px solid olive;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.image-Container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    border:2px yellow solid;
    padding:15px;


}
.name-Container{
     border:2px pink solid;
     flex:none;
     min-height:30px;
     display:flex;
     justify-content:center;
     align-items:center;
}

.image-Container > img{
    border:2px purple solid;
    max-width: 100%; /* Prevents overflow */
    max-height: 100%;
    width: 270px;
    height: 300px;
}