body{
    margin:0px;
    font-family: 'Minecraft', sans-serif;
    text-transform:uppercase;

}

#main-Container{

    min-height:100vh;
    padding:10px;
    box-sizing: border-box; /* Includes padding and border in element dimensions rather than adding extra */
    display:flex;
    flex-direction:column;
}
#heading-Container{
    flex:none; /* this line and the 'min-height' make sure the container Doesn't grow or shrink the size based on content */
    min-height:80px;
    display:flex;
    justify-content:center;
    align-items:center;

}

#card-Container{
    flex:1;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    padding:10px;
    gap:10px; /*alternative to margin for flexbox based layout adds 10px gap b/w cards using instead of margin */

}

.individualCard{
    height:350px;
    flex: 0 0 300px; /* Don't grow, don't shrink, 300px base */
    min-width: 250px;
    max-width: 350px;
    border: 2.5px dotted  black;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.image-Container{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:15px;


}
.name-Container{
     flex:none;
     min-height:30px;
     display:flex;
     justify-content:center;
     align-items:center;
     font-size:1.5em;
}

.image-Container > img{
    max-width: 100%; /* Prevents overflow */
    max-height: 100%;
    width: 270px;
    height: 300px;
}
h1{
    font-size:2.5em;
}
#overlay{
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.6);
    height:100vh;
    width:100vw;
    display:none; /*hiding it*/
    pointer-events:none; /* allows interaction with elements below */
    z-index: 100;
    /*z-index is a CSS property that controls the stacking order of elements on a webpage —
    in other words, what appears in front and what appears behind when elements overlap.
    higher the z-index the element would appear on top; works on position(fixed,realtive,absoulute) elements
    */

}
.card-on-hover {
  transform: scale(1.15);
  border: 2px solid gold;
  background: linear-gradient(135deg, #fffacd, #ffffe0);
  box-shadow: 0 10px 25px rgba(255, 255, 100, 0.6), 0 0 15px rgba(255, 255, 160, 0.4);
  border-radius: 15px;
  transition:
    transform 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    border 0.3s ease-in-out,
    background 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out,
    border-radius 0.4s ease;
    cursor: pointer;

}